.container {
  width: 1500px;
  height: 1500px;
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  /* 주축 기죽으로 정렬해줌*/
  justify-content: center;

  /* 교차축 기준으로 정렬해줌 */
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}
