.red {
  background-color: red;
  border-radius: 30px;
  border: 1px solid red;
  color: white;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.b1 {
  padding: 12px 30px;
}
.b2 {
  padding: 12px 50px;
}
.b3 {
  padding: 12px 100px;
}

.tt {
  text-align: center;
  padding: 5px 30px;
  margin-bottom: 5px;
}

.kakao {
  background-color: yellow;
  border: 1px solid yellow;
}

.google {
  background-color: white;
  border-radius: 30px;
}

.apple {
  background-color: black;
  color: white;
  border-radius: 30px;
}

i {
  margin-right: 8px;
}
